 <span *ngIf = "!isEdit">  <b>title:</b> {{post.title}} </span>
 <span *ngIf = "isEdit">
 title: <input type= "str" [(ngModel)] = "post.title">  </span>
 <!--body <input type="text" [(ngModel)] = "post.body"> -->
   <button (click) = "toggleEdit()"  class="myButton">{{editButtonText}}</button>
 <button (click) = "sendDelete()" class="myButton1">Delete</button> 
 <span *ngIf = "isEdit"> 
  <button (click) = "showPost()">Cancel</button> 
</span>


<!--<b>body</b>: {{post.body}}<br>-->

<!--<a href="#" class="myButton">green</a><a href="#" class="myButton">green</a>-->