 	
<h2 class="h2" >Add post</h2>                   <!--  ng form is the data of the form-->
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm" class="formcs">  <!-- local variable that sends to on submit and gets the data from the form.  -->
  <div class="form-group">
    <label for="title">title</label>
     <input type="text"
            class="form-control"
            id="title"
            name = "title"
            [(ngModel)]  = "post.title">

           
  </div>
  <div class="form-group">
    <label for="body">body</label>
    <input type="text"
            class="form-control"
            id="body"
            name = "body"
            [(ngModel)] = "post.body"
            >      
  </div>
  <button type="submit" class="myButton3" >Submit</button>
</form>
