<user-form (postAddedEvent) = "addPost($event)" > </user-form>

 <app-spinner [visible] = "isloadnig"></app-spinner>
 <div class = "posts">
   <h3>Posts List:</h3>
   <h5><b>Click On The Chosen Row</b></h5>
   <br>


   <ul class="list-group users">     
         <li class="list-group-item" *ngFor = "let post of posts" >
            <app-post [post] = "post" (deleteEvent) = "deletePost($event)"
                      [post] = "post" (showEvent) = "showPost($event)" 
                                   (editEvent) = "editPost($event)"        
              ></app-post>  <!--> html atributes will be fedined as [attribute]. 
                       [post] goes to son via inputs [post]?  </!-->   
                       <ul>
                         <li *ngFor = "let name of post.name"  >
                           <b>  written by: </b>  {{(name | async)?.name}}

                         <li *ngFor = "let email of post.email"
                         >
                        <b> email: </b> {{(email | async)?.email}}

                         </li>
                              <!--<li *ngFor = "let email of post.email">
                          <b> email: </b> {{(email | async)?.email}}
                         </li>-->
                         
                         </ul>     
                           <!--<ul>
                         <li *ngFor = "let email of post.email">
                          <b> email: </b> {{(email | async)?.email}}
                         </li>
                         </ul>     -->
         </li>
   </ul>
 </div>

 
